<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/production.min.css" />
</head>
<body ng-app="validationApp" ng-controller="mainController">
<div class="title"><h1>Inscrição FICA 2014</h1><h2><a href="http://fica.flordeouro.net">voltar</a></h2></div>
<div class="container">
    
    <!-- PAGE HEADER -->
    <div class="page-header">
        <p>O FICA é um evento feito por todos os participantes, todas as formas de trocas claras e justas, são muito bem vindas e com cada pessoa participando com o que pode faremos um festival com fartura de conteúdo, trocas e alegria.</p>

        <p>As contribuições em geral dão acesso ao espaço Flor de Ouro Vida Natural e Holística com suas atividades, direito a banho de rio, sauna, área de camping, acesso livre a todas as palestras, vivências, oficinas e shows do Festival Internacional de Cultura Alternativa.</p>

        <p>A cozinha comunitária é gerida pelas doação dos participantes que forem usa-la ,através de alimentos orgânicos e naturais e ou dinheiro, o feitio é feito por todos, cada dia uma equipe formada por voluntários que se escalam nas rodas,  assume. Essa é a unica vivência proposta pelo evento que é pedido contribuição financeira. A contribuição é de no mínimo R$10,00 por dia em alimento ou dinheiro, de preferência em alimentos, por ajudar no transporte do alimento até o local. A contribuição pode ser feita também antecipadamente junto com a contribuição para o evento ou na portaria. A organização da cozinha comunitária promove duas refeições, almoço e janta. Tanto o café da manhã quando a quantidade, e qualidade das refeições depende das doações e da partição efetiva de todos na vivência.</p>

        <p>Sera servido lanches e quitutes na lanchonete durante o dia, até cerca de 00:00hs, quando sera fechado para descanso e preparação do outro dia.Temos uma opção de alimentação individual. Três refeições na lanchonete somam R$40,00 por dia (mediante reserva).</p>

        <p>O espaço conta com três chalés que estão disponíveis para hospedagem coletiva durante o evento, chalés Ahimsa para 8 pessoas, do Sol para 7, e da Lua para 6. O valor é de R$30,00 por dia, por pessoa. Para quem pretende ficar os 10 dias do festival no chalé estamos com preço promocional de R$ 200,00 por pessoa.</p>

        <p>Teremos área de estacionamento para aqueles que vierem de carro que custará R$5,00 por dia. Incentivamos que os participantes ofereçam caronas, de Alto Paraíso até a Flor de Ouro,onde acontecerá o FICA este ano, são 12km em estrada de terra.</p>

        <p>As contribuições antecipadas, além de serem mais em conta, proporcionam que nossa produção seja mais eficaz em todos os aspectos, além de estar nos apoiando, investindo conosco na construção do FICA 2014 que conta com uma produção independente.</p>
        <h3>Os valores são de:</h3>
        <p>Por conta da importância das contribuições adiantas para nossa produção independente, estamos retornando o valor de R$200,00 para 10 dias até o dia 24 de julho. Estaremos atualizando nossas páginas e acertando o valor com aqueles que ja contribuiram com o evento.</p>
        <h4 class="promo">R$ 200,00 (10 dias)</h4>
        <p>R$ 125,00 (05 dias) - Junho</p>
        <p>R$ 250,00 (10 dias) - Na Portaria</p>
        <p>R$ 30,00 (01 dia) – Na Portaria</p>
        <p>R$ 80,00 (fim de semana, sex/sab/dom) – Na Portaria</p>
        <br/>
        <h1>Forma de contribuição para o evento</h1>
        <div class="form-group contrib">
            <ul>
                <li ng-repeat="tab in tabs" 
                    ng-class="{active:isActiveTab(tab.url)}"
                    class="forma" 
                    ng-click="onClickTab(tab)">{{tab.title}}
                </li>
            </ul>
        </div>
    </div>
     <div id="mainView">
            <div ng-include="currentTab"></div>
    </div>
    <div class="fb-comments" data-href="http://www.flordeouro.net/Formulario/" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="js/production.min.js"></script>
</html>