<div class="animated fadeInDown banda-form">
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='http://www.flordeouro.net/inscrito.html';}"></iframe>
<form name="bandaForm" 
    ng-submit="submitForm(userForm.$valid)" 
    action="https://docs.google.com/forms/d/1fIcKScIwt0taYJJpUoEnBxnRBOQnew-mHPx67wt1FuI/formResponse" 
    method="post"
    name="musicForm" 
    ng-submit="submitForm(userForm.$valid)" 
    target="hidden_iframe" 
    onsubmit="submitted=true;">  
    <h1>Formulário de inscrição para músicos</h1>
    <p>O evento é cheio de movimento durante o dia com as atividades que começam no começo da manhã e vão até o final do dia. Teremos musica ambiente e mecânica durante o dia em momentos e locais apropriados.</p>
    <p>Durante as noites, das 20,00hs as 00,00hs teremos apresentações no palco, é ai que contamos com nossos antigos e novos amigos de muito talento para alegrar, relaxar e emocionar os participantes.</p>
    <p>Após o encerramento do palco a 00hs, já com a fogueira acessa continuamos o som acústico sem horário estabelecido para parar.</p>
    <p>Todas as formas de participação tem um enorme valor, bandas, oficineiros, voluntários, doadores, palestrantes, em fim, cada pessoa participando com o que pode faremos um festival com fartura de conteúdo, trocas e alegria. Como se trata de um evento feito sem qualquer patrocínio prévio o FICA 2014 não contara com cachês artísticos. Serão 10 dias de muitas atividades, então pedimos uma contribuição simbólica onde todos possam colaborar. Oferecemos a divulgação do trabalho para um público alvo, já que o evento é uma vitrine para trabalhos autênticos e que encantam. Podemos oferecer a recompensa do próprio evento,  10 dias de trocas em um lugar especial, onde já fizemos outros eventos no mesmo espírito comunitário.</p>
    <p>
        
    </p>
    <p>Para participar é necessário preencher as informações abaixo:</p>
    <br/>
    <div class="form-group col-md-6">
        <label>Nome da banda ou músico*</label>
        <input type="text" class="form-control" required name="entry.415985894" required>
    </div>
     <div class="form-group col-md-6">
        <label>Nome do responsável*</label>
        <input type="text" class="form-control" ng-minlength="2" required name="entry.286814908" required>
    </div>
    <div class="form-group col-md-6">
        <label>Telefone para contato*</label>
        <input type="phone" class="form-control" ng-minlength="2" required name="entry.1745073593" required>
    </div>
     <div class="form-group col-md-6">
        <label>Email*</label>
        <input type="email" class="form-control" ng-minlength="2" required name="entry.552604923" required>
    </div>
    <div class="form-group">
        <label>Homepage e outros links</label>
        <textarea rows="5" cols="10" class="form-control" name="entry.97118399" required></textarea>
    </div>
    <div class="form-group">
        <label>Data preferencial</label>
        <input type="text" class="form-control" name="entry.1331772422" required>
    </div>
    <div class="form-group">
        <label>Outras datas disponíveis</label>
        <textarea rows="5" cols="10" class="form-control" ng-minlength="2" name="entry.240453803" required></textarea>
    </div>
    <div class="form-group">
        <label>Número de integrantes*</label>
        <input type="number" class="form-control" ng-minlength="2" required name="entry.1556080366" required>
    </div>
    <div class="form-group">
        <label>Nome, documento, email e função de cada integrante</label>
        <textarea rows="5" cols="10" class="form-control" ng-minlength="2" name="entry.345184501" required></textarea>
    </div>
    <div class="form-group">
        <label>Estilo musical</label>
        <input type="text" class="form-control" name="entry.451912372" required>
    </div>
    <div class="form-group">
        <label>Instrumentos ultilizados</label>
        <input type="text" class="form-control" name="entry.1516473064" required>
    </div>
    <div class="form-group">
        <label>Descrição e Objetivos do Show (para divulgação)</label>
        <textarea rows="5" cols="10" class="form-control" ng-minlength="2" name="entry.2015162376" required></textarea>
    </div>
    <p>Por gentileza, enviar observações, dúvidas e material de divulgação (fotos, videos, etc.) para <a href="mailto:ficaflordeouro@gmail.com?Subject=Inscrição%20Banda" target="_top">ficaflordeouro@gmail.com</a>.</p>

    <button type="submit" class="btn btn-primary" ng-disabled="(form.$submitted && form.$invalid)">Enviar</button>
    <br/>
    </form>
    </div>