@media screen and (max-width: 768px) {
  /* General styles for all menus */
  /* Orientation-dependent styles for the content of the menu */
  /* Vertical menu that slides from the left or right */
  /* Push classes applied to the body */
  /* Transitions */
  .menu-icon {
    display: block;
    width: 40px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    .menu-icon:before, .menu-icon:after, .menu-icon .menu-icon__text {
      background: #fff;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      content: '';
      display: block;
      height: 4px;
      margin: 6px 0;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      width: 100%; }
    .menu-icon .menu-icon__text {
      text-indent: -9999px; }
    .menu-icon:hover:before {
      -webkit-transform: rotate(45deg) translate3d(5px, 10px, 0);
      -moz-transform: rotate(45deg) translate3d(5px, 10px, 0);
      -ms-transform: rotate(45deg) translate3d(5px, 10px, 0);
      -o-transform: rotate(45deg) translate3d(5px, 10px, 0);
      transform: rotate(45deg) translate3d(5px, 10px, 0); }
    .menu-icon:hover .menu-icon__text {
      opacity: 0; }
    .menu-icon:hover:after {
      -webkit-transform: rotate(-45deg) translate3d(5px, -10px, 0);
      -moz-transform: rotate(-45deg) translate3d(5px, -10px, 0);
      -ms-transform: rotate(-45deg) translate3d(5px, -10px, 0);
      -o-transform: rotate(-45deg) translate3d(5px, -10px, 0);
      transform: rotate(-45deg) translate3d(5px, -10px, 0); }
  .indent {
    margin: 40px auto; }
  .cbp-spmenu {
    background: #47a3da;
    position: fixed; }
  .cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300; }
  .cbp-spmenu a:hover {
    background: #258ecd; }
  .cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da; }
  .cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000; }
  .cbp-spmenu-vertical a {
    border-bottom: 1px solid #258ecd;
    padding: 1em; }
  .cbp-spmenu-left {
    left: -240px; }
  .cbp-spmenu-left.cbp-spmenu-open {
    left: 0px; }
  .cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0; }
  .cbp-spmenu-push-toright {
    left: 240px; }
  .cbp-spmenu, .cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; } }

/* Example media queries */
@media screen and (max-height: 26.375em) {
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px; }
  .cbp-spmenu-left, .cbp-spmenu-push-toleft {
    left: -190px; }
  .cbp-spmenu-right {
    right: -190px; }
  .cbp-spmenu-push-toright {
    left: 190px; } }
